@media (max-width:549px) and (max-height:569px){html{border:10px solid rgba(255,255,255,.2) !important;height:inherit !important;}
}
@media (max-width:549px){.top{padding:10% 2.7% 0 2.7% !important;}
h1{font-size:36px !important;padding-top:3px !important;padding-bottom:11px !important;text-align:center !important;}
#what{font-size:16px !important;letter-spacing:0.17em !important;padding-bottom:22px !important;}
#when{font-size:26px !important;padding-top:16px !important;}
#where{font-size:15px !important;}
p{font-size:16px !important;}
html{border:10px solid rgba(255,255,255,.2) !important;height:100%;width:100%;}
.newsletter-email{border-radius:0 !important;-moz-border-radius:0 !important;-webkit-border-radius:0 !important;}
.newsletter{margin-bottom:40px !important;}
}
*, *:before, *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html{background:linear-gradient(to top right, rgba(17,45,65,0.80), rgba(17,45,65,0.80)), url('images/bg.jpg') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;border:15px solid rgba(255,255,255,.2);height:100%;width:100%;}
body{text-align:center;margin:0 !important;}
.top{z-index:1000;padding:7% 1% 0 1%;margin:0 auto;max-width:700px;}
h1{color:white;font-family:"futura-pt",sans-serif;font-style:normal;font-weight:700;letter-spacing:.13em;font-size:48px;margin:0 auto;text-align:center;padding-bottom:8px;text-rendering:optimizeLegibility;text-transform:uppercase;position:relative;}
#edition{padding-top:61px;padding-bottom:8px;font-weight:600;position:relative;-webkit-font-smoothing:antialiased;}
#when{font-family:"kepler-std",serif;font-style:italic;font-weight:500;font-size:26px;margin:0 auto;text-align:center;padding-top:14px;max-width:162px;letter-spacing:0.04em;position:relative;}
#where{font-family:"futura-pt",sans-serif;font-style:normal;font-weight:500;font-size:14px;letter-spacing:0.18em;text-transform:uppercase;margin:0 auto;padding-top:12px;padding-bottom:64px;position:relative;text-rendering:optimizeLegibility;}
#what{font-family:"futura-pt",sans-serif;font-style:normal;font-weight:300;font-size:18px;letter-spacing:0.22em;text-transform:uppercase;max-width:520px;margin:0 auto;line-height:150%;padding-bottom:16px;}
p{color:white;font-family:"kepler-std",serif;font-style:normal;font-weight:300;font-size:18px;margin:0;text-rendering:geometricPrecision;position:relative;}
hr{border-top:1px solid rgba(255, 255, 255, 0.56);border-bottom:none;border-left:none;border-right:none;width:10%;}
.newsletter:not(.newsletter--active) input[type='submit']{display:none;}
.newsletter{max-width:262px;height:50px;font-size:1.25em;margin:0 auto;}
.newsletter:visited{width:262px;}
:focus{outline:none !important;}
.newsletter-email{width:160px;height:48px;margin:0 auto;background:transparent;color:white;text-align:center;border:1px solid rgba(255, 255, 255, 0.68);border-radius:0 !important;-moz-border-radius:0 !important;-webkit-border-radius:0 !important;}
.newsletter-email:focus{border:1px solid white;width:210px;}
.newsletter input{webkit-transition:background-color .5s ease, border-color .5s ease, width .53s;-moz-transition:background-color .5s ease, border-color .5s ease, width .53s;-ms-transition:background-color .5s ease, border-color .5s ease, width .53s;-o-transition:background-color .5s ease, border-color .5s ease, width .53s;transition:background-color .5s ease, border-color .5s ease, width .53s;font-family:"kepler-std",serif;font-style:italic;font-weight:400;font-size:14px;letter-spacing:0.03em;text-transform:none;}
.newsletter--active .newsletter-submit{float:right;display:inline-block;}
.newsletter-submit{height:48px;width:52px;text-align:center;color:rgba(17, 45, 65, 1);margin-left:-6px;border:none;background-color:white;display:none;}
.newsletter-email:focus{-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;border:1px solid white !important;}
.newsletter #email:hover{border:1px solid rgb(185, 154, 84);}
::-webkit-input-placeholder{color:white;font-family:"futura-pt",sans-serif;font-style:normal;font-weight:500;font-size:12px;letter-spacing:0.14em;text-transform:uppercase;}
:-moz-placeholder{color:white;font-family:"futura-pt",sans-serif;font-style:normal;font-weight:500;font-size:12px;letter-spacing:0.14em;text-transform:uppercase;}
::-moz-placeholder{color:white;font-family:"futura-pt",sans-serif;font-style:normal;font-weight:500;font-size:12px;letter-spacing:0.14em;text-transform:uppercase;}
:-ms-input-placeholder{color:white;font-family:"futura-pt",sans-serif;font-style:normal;font-weight:500;font-size:12px;letter-spacing:0.14em;text-transform:uppercase;}
input:focus::-webkit-input-placeholder{color:transparent;}
input:focus:-moz-placeholder{color:transparent;}
input:focus::-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder{color:transparent;}
.newsletter-email:focus{background:rgba(255,255,255,.2);}
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-8px);transform:translateX(-8px);}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translateX(-8px);-ms-transform:translateX(-8px);transform:translateX(-8px);}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;-webkit-animation-duration:0.7s;animation-duration:0.7s;}
@-webkit-keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-duration:1.2s;animation-duration:1.2s;}